<div class="container-listing__main__category__slide">
  <div>
    <span>All</span>
  </div>
  <div
    class="container-listing__main__category__slide__card"
    [class.container-listing__main__category__slide__card__active]="true"
  >
    <img
      src="../../../assets/images/icons/Beer.png"
      alt="beerdata"
      width="20"
      height="20"
    />
    <span>Beer</span>
  </div>
  <div class="container-listing__main__category__slide__card">
    <img
      src="../../../assets/images/icons/Wine-glass.png"
      alt="beerdata"
      width="20"
      height="20"
    />
    <span>Wine</span>
  </div>
</div>
